{% extends 'base.html' %} {% block content%}
<h1>Bug Details</h1>
<div class="card">
    <div class="card-content">
        <span class="card-title">
            A
            <span class="{{bug.color}}-text">{{ bug.color }}</span> {{bug.name}}
        </span>
    </div>
    <div class="card-action">
        <a
            href="{% url 'bugs_update' bug.id %}"
            class="btn deep-purple"
            >Edit</a
        >
        <a
            href="{% url 'bugs_delete' bug.id %}"
            class="btn red"
            >Delete</a
        >
    </div>
</div>
{% endblock %}