{% extends 'base.html' %} {% block content %}

<h1>{{ finch.name }} Details</h1>

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ finch.name }}</span>
        <p>Subclass: {{ finch.tax_subclass }}</p>
        <p>Description: {{ finch.description }}</p>
        <p>Age: {{ finch.age_days }} days</p>
    </div>
    <div class="card-action">
        <a href="{% url 'finches_update' finch.id %}" class="btn">Edit</a>
        <a href="{% url 'finches_delete' finch.id %}" class="btn">Delete</a>
    </div>
</div>
{% endblock %}
